<!DOCTYPE html>
{% block content %}
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Curve outside in active tab | Sidebar menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminStyles.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
</head>
<body>

        <nav class="navbar-superior">
            
                <!--<h2 id="logotipo-h2">Logotipo página</h2>-->
            
            <!--<div id="logotipo">
                <img src="{% static 'img/logo.png' %}" />
                <h2>Nombre página</h2>
            </div>-->
            <ul class="navbar-superior-ul">
                <li id="registrarse" class="navbar-superior-ul-li" style="display:none;">
                    <a class="navbar-superior-ul-li-a" href="/register">Registrate</a>
                </li>
                <li id="iniciar-sesion" class="navbar-superior-ul-li" style="display:none;">
                    <a class="navbar-superior-ul-li-a" href="/login">Iniciar sesión</a>
                </li>
                <li id="cerrar-sesion" class="navbar-superior-ul-li" style="display:none;">
                    <a class="navbar-superior-ul-li-a" href="/logout">Cerrar sesión</a>
                </li>
                <li id = "mi-perfil" class="navbar-superior-ul-li" style="display:none;">
                    <a class="navbar-superior-ul-li-a" href="/user">Mi Perfil</a>
                </li>
                {% comment %} <li class="navbar-superior-ul-li">
                    <a class="navbar-superior-ul-li-a" href="#">Contacto</a>
                </li>
                <li class="navbar-superior-ul-li">
                    <a class="navbar-superior-ul-li-a" href="#">Sobre nosotros</a>
                </li> {% endcomment %}
                <li class="navbar-superior-ul-li">
                    <a class="navbar-superior-ul-li-a" href="/categories">Categorias</a>
                </li>
                <li class="navbar-superior-ul-li">
                    <a class="navbar-superior-ul-li-a" href="/">Inicio</a>
                </li>
            </ul>
    </nav>
	
    <div class="container">
        <div class="navigation">
            <ul class="new-tabs">
                <!-- Denuncias NO Revisadas -->
                <li class="list active" id="complaintContainer">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#home">
                        <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                        <span class="title">Denuncias</span>
                    </a>
                </li>
                <!-- Denuncias Revisadas -->
                <li class="list" id="complaintContainerChecked"> 
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#complaintchkd">
                        <span class="icon"><ion-icon name="checkmark-done-outline"></ion-icon></span>
                        <span class="title">Denuncias</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu1">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Perfil</span>
                    </a>
                </li>
                <!-- Estadísticas -->
                <li class="list" id="statisticsContainer">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu2">
                        <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
                        <span class="title">Estadisticas</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu3">
                        <span class="icon"><ion-icon name="timer-outline"></ion-icon></span>
                        <span class="title">Tiempo</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu4" id="categoriesTab" onclick="getCategories();">
                        <span class="icon"><ion-icon name="copy-outline"></ion-icon></span>
                        <span class="title">Categorias</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu5" id="productsTab" onclick="getArticulos();">
                        <span class="icon"><ion-icon name="storefront-outline"></ion-icon></span>
                        <span class="title">Productos</span>
                    </a>
                </li>
                <!--<li class="list">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu5">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <span class="title">Password</span>
                    </a>
                </li>-->
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="/logout">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Cerrar sesión</span>
                    </a>
                </li>
            </ul>
            <div class="container tab-content special">
                <div id="home" class="tab-pane fade in active">
                    <h3>Denuncias sin revisar</h3>
                    <hr>
                    <div class="container">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Usuario Reportado</th>
                                    <th>Usuario que Reportado</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Razon</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyDataComplainst">
                                
                                {% comment %} <tr>
                                    <a data-toggle="modal" data-target="#complaintModal" href="#complaintModal">
                                    <td>Tiger Nixon</td>
                                    </a>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr> {% endcomment %}
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Usuario Reportado</th>
                                    <th>Usuario que Reportado</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Razon</th>
                                    <th>Estado</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="complaintchkd" class="tab-pane fade">
                    <h3>Denuncias Revisadas</h3>
                    <hr>
                    <div class="container">
                        <table id="example2" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Usuario Reportado</th>
                                    <th>Usuario que Reportado</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Razon</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyDataComplainstChkd">
                              
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Usuario Reportado</th>
                                    <th>Usuario que Reportado</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Razon</th>
                                    <th>Estado</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Mi perfil</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <form class="user" id="UpdateForm" name="UpdateForm" data-toggle="validator" data-focus="false">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="custom-label">Primer Nombre</label>
                                                <input type="text" class="form-control form-control-user" id="Ufirstname"
                                                    placeholder="First Name">
                                                    <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="custom-label">Apellido</label>
                                                <input type="text" class="form-control form-control-user" id="Ulastname"
                                                    placeholder="Last Name">
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-label">Contraseña</label>
                                            <input type="password" class="form-control form-control-user" id="Upassword"
                                                placeholder="Password">
                                                <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-label">Teléfono</label>
                                            <input type="text" class="form-control form-control-user" id="Uphone"
                                                placeholder="Phone Number">
                                                <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-label">Dirección</label>
                                            <input type="text" class="form-control form-control-user" id="Uaddress"
                                                placeholder="Address">
                                                <div class="help-block with-errors"></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block" disabled>Actualizar Datos</button> 
                                        <div class="form-message">
                                            <div id="umsgSubmit" class="h3 text-center hidden"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Estadisticas</h3>
                    <hr>

                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <!-- AQUI DEBEN IR LAS ESTADISTICAS UWU -->
                                    <div class="container-fluid" id="drawStatistics">
                                        
                                    </div>  
                                </div> <!-- AQUI TERMINA -->
                            </div>
                        </div>
                    </div>

                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>Administrar tiempo de las publicaciones</h3>
                    <hr>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div id="menu4" class="tab-pane fade">
                    <h3>Administrar categorias</h3>
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            
                        </div>
                        <div class="card-body">
                            <div class="container">

                                <div class="container ">
                                    <a data-toggle="modal" data-target="#AddCategoryModal" href="#AddCategoryModal" class="d-none d-sm-inline-block btn btn-sm btn-success">Agregar Nueva Categoria</a>
                                    <br><br>
                                    <table id="categoryTable" class="display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Categoria</th>
                                                <th>Editar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyDataCategory">
                                            
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Categoria</th>
                                                <th>Editar</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="menu5" class="tab-pane fade">
                    <h3>Administrar productos</h3>
                    <hr>
                    <div class="container">
                        <div class="container ">
                            <table id="productTable" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Articulo</th>
                                        <th>Categoria</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyDataProduct">
                                    {% comment %} <tr>
                                        <td>Yefri</td>
                                        <td>Cama King Size</td>
                                        <td>Hogar</td>
                                        <td><button type="button" class="btn btn-sm btn-danger" style="height:2rem; padding-top:0.1px">X</button></td>
                                    </tr> {% endcomment %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Articulo</th>
                                        <th>Categoria</th>
                                        <th>Editar</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="toggle">
            <ion-icon name="menu-outline" class="open"></ion-icon>
            <ion-icon name="close-outline" class="close"></ion-icon>
        </div>
        
    </div>

    <!-- Modal -->
        <div class="modal fade" id="complaintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title" id="exampleModalLongTitle">Denuncia</h1>
              </div>
              <div class="modal-body" id="modal-body">
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Agregar nueva categoria -->
        <div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" role="alert" id="classModalChangeUserState">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="titleModalChangeUserState">Añadir Categoria</h4> 
                </div>
                    <div class="modal-body" id="modal-text-content">
                        <form class="user" id="AddCategoryForm" name="AddCategoryForm">
                            <div class="form-group">
                                <label class="custom-label">Nombre de la categoria</label>
                                <input type="text" class="form-control form-control-user" id="ACname"
                                    placeholder="Nombre de la Categoria" required>
                            </div>
                            <div class="form-group">
                                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary" onclick="addCategory();" data-dismiss="modal" aria-label="Close">Añadir</button> 
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>

    <!-- Modal dar de baja a un anuncio/artículo -->
    <div class="modal fade" id="delete-articulo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dar de baja al anuncio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-5%;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="mensajeDelete" class="modal-body">
                
            </div>
            <div class="modal-footer">
                <div id="modal-article-delete">
                    
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal: Mensaje satisfactorio -->
    <div class="modal fade" id="modalChangeUserState" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert" role="alert" id="classModalChangeUserState">
                    <h5 class="modal-title" id="titleModalChangeUserState"></h5> 
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body" id="modal-text-content"></div>
            </div>
        </div>
    </div> 

	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/navbar.js' %}" type="text/javascript"></script>
	<script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/statistics.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/complaints.js' %}"></script>
    
</body>
</html>
{% endblock %}