<!DOCTYPE html>
{% block content %}
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TraderZone - Admin</title>

    <!--TraderZone favicon-->
    <link rel="shortcut icon" href="{% static 'img/traderzone/TRADERZONEICONOSCIAN.ico' %}">
    
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminStyles.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
</head>
<body>

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    
{% comment %} 
        <nav class="navbar-superior">
            
                <!--<h2 id="logotipo-h2">Logotipo página</h2>-->
            
            <!--<div id="logotipo">
                <img src="{% static 'img/logo.png' %}" />
                <h2>Nombre página</h2>
            </div>-->
            <ul class="navbar-superior-ul">
                <li id="registrarse" class="navbar-superior-ul-li" style="display:none;">
                    <a class="navbar-superior-ul-li-a" href="/register">Registrate</a>
                </li>
                <li id="iniciar-sesion" class="navbar-superior-ul-li" style="display:none;">
                    <a class="navbar-superior-ul-li-a" href="/login">Iniciar sesión</a>
                </li>
                <li id="cerrar-sesion" class="navbar-superior-ul-li" style="display:none;">
                    <a class="navbar-superior-ul-li-a" href="/logout">Cerrar sesión</a>
                </li>
                <li id = "mi-perfil" class="navbar-superior-ul-li" style="display:none;">
                    <a class="navbar-superior-ul-li-a" href="/user">Mi Perfil</a>
                </li>
                {% comment %} <li class="navbar-superior-ul-li">
                    <a class="navbar-superior-ul-li-a" href="#">Contacto</a>
                </li>
                <li class="navbar-superior-ul-li">
                    <a class="navbar-superior-ul-li-a" href="#">Sobre nosotros</a>
                </li> 
                <li class="navbar-superior-ul-li">
                    <a class="navbar-superior-ul-li-a" href="/categories">categorías</a>
                </li>
                <li class="navbar-superior-ul-li">
                    <a class="navbar-superior-ul-li-a" href="/">Inicio</a>
                </li>
            </ul>
    </nav> {% endcomment %}
	
    <div class="container">
        <div class="navigation">
            <ul class="new-tabs">
                <!-- Denuncias NO Revisadas -->
                <li class="list active" id="complaintContainer">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#home">
                        <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                        <span class="title">Denuncias</span>
                    </a>
                </li>
                <!-- Denuncias Revisadas -->
                <li class="list" id="complaintContainerChecked"> 
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#complaintchkd">
                        <span class="icon"><ion-icon name="checkmark-done-outline"></ion-icon></span>
                        <span class="title">Revisiones</span>
                    </a>
                </li>
                <!-- Estadísticas -->
                <li class="list" id="statisticsContainer">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu2">
                        <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
                        <span class="title">Estadisticas</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu4" id="categoriesTab" onclick="getCategories();">
                        <span class="icon"><ion-icon name="copy-outline"></ion-icon></span>
                        <span class="title">Categorías</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu5" id="productsTab" onclick="getArticulos();">
                        <span class="icon"><ion-icon name="storefront-outline"></ion-icon></span>
                        <span class="title">Productos</span>
                    </a>
                </li>
                <!--<li class="list">
                    <b></b>
                    <b></b>
                    <a data-toggle="tab" href="#menu5">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <span class="title">Password</span>
                    </a>
                </li>-->
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="/logout">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Cerrar sesión</span>
                    </a>
                </li>
            </ul>
            <div class="container tab-content special">
                <div id="home" class="tab-pane fade in active">
                    <h3>Denuncias sin revisar</h3>
                    <hr>
                    <div class="container">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Usuario Reportado</th>
                                    <th>Usuario que reportó</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Razón</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyDataComplainst">
                                
                                {% comment %} <tr>
                                    <a data-toggle="modal" data-target="#complaintModal" href="#complaintModal">
                                    <td>Tiger Nixon</td>
                                    </a>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr> {% endcomment %}
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Usuario Reportado</th>
                                    <th>Usuario que reportó</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Razón</th>
                                    <th>Estado</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="complaintchkd" class="tab-pane fade">
                    <h3>Denuncias Revisadas</h3>
                    <hr>
                    <div class="container">
                        <table id="example2" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Usuario Reportado</th>
                                    <th>Usuario que reportó</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Razón</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyDataComplainstChkd">
                              
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Usuario Reportado</th>
                                    <th>Usuario que reportó</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Razón</th>
                                    <th>Estado</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Estadísticas</h3>
                    <hr>

                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <!-- AQUI DEBEN IR LAS ESTADISTICAS UWU -->
                                    <div class="container-fluid" id="drawStatistics">
                                        
                                    </div>  
                                </div> <!-- AQUI TERMINA -->
                            </div>
                        </div>
                    </div>

                </div>
                <div id="menu4" class="tab-pane fade">
                    <h3>Administrar Categorías</h3>
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            
                        </div>
                        <div class="card-body">
                            <div class="container">

                                <div class="container ">
                                    <a data-toggle="modal" data-target="#AddCategoryModal" href="#AddCategoryModal" class="d-none d-sm-inline-block btn btn-sm btn-success">Agregar Nueva Categoría</a>
                                    <br><br>
                                    <table id="categoryTable" class="display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Categoría</th>
                                                <th>Editar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyDataCategory">
                                            
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Categoría</th>
                                                <th>Editar</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <h3>Administrar tiempo de duración de los productos y servicios</h3>
                    <hr>
                    <div class="container">
                        <form class="user" id="changeTimeForm" name="AddCategoryForm">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="custom-label">Tiempo límite en los productos (semanas)</label>
                                        <select id="tiempoProducto" class="form-control form-control-select dropdown-toggle" required>
                                            <option value="00" selected>Semanas...</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="50">50</option>
                                            <option value="51">51</option>
                                            <option value="52">52</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="custom-label">Tiempo límite en los servicios (semanas)</label>
                                        <select id="tiempoServicio" class="form-control form-control-select dropdown-toggle" required>
                                            <option value="00" selected>Semanas...</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="50">50</option>
                                            <option value="51">51</option>
                                            <option value="52">52</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" onclick="tiempoCategoria()" data-dismiss="modal" aria-label="Close">Actualizar</button> 
                            </div>
                        </form>
                    </div>
                </div>

                <div id="menu5" class="tab-pane fade">
                    <h3>Administrar productos</h3>
                    <hr>
                    <div class="container">
                        <div class="container ">
                            <table id="productTable" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Artículo</th>
                                        <th>Categoría</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyDataProduct">
                                    {% comment %} <tr>
                                        <td>Yefri</td>
                                        <td>Cama King Size</td>
                                        <td>Hogar</td>
                                        <td><button type="button" class="btn btn-sm btn-danger" style="height:2rem; padding-top:0.1px">X</button></td>
                                    </tr> {% endcomment %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Artículo</th>
                                        <th>Categoría</th>
                                        <th>Editar</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="toggle">
            <ion-icon name="menu-outline" class="open"></ion-icon>
            <ion-icon name="close-outline" class="close"></ion-icon>
        </div>
        
    </div>

    <!-- Modal -->
        <div class="modal fade" id="complaintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title" id="exampleModalLongTitle">Denuncia</h1>
              </div>
              <div class="modal-body" id="modal-body">
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Agregar nueva categoria -->
        <div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" role="alert" id="classModalChangeUserState">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="titleModalChangeUserState">Añadir Categoría</h4> 
                </div>
                    <div class="modal-body" id="modal-text-content">
                        <form class="user" id="AddCategoryForm" name="AddCategoryForm">
                            <div class="form-group">
                                <label class="custom-label">Nombre de la categoría</label>
                                <input type="text" class="form-control form-control-user" id="ACname"
                                    placeholder="Nombre de la Categoria" required>
                            </div>
                            <div class="form-group">
                                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary" onclick="addCategory();" data-dismiss="modal" aria-label="Close">Añadir</button> 
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>

    <!-- Modal dar de baja a un anuncio/artículo -->
    <div class="modal fade" id="delete-articulo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dar de baja al anuncio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-5%;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="mensajeDelete" class="modal-body">
                
            </div>
            <div class="modal-footer">
                <div id="modal-article-delete">
                    
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar producto -->
    <div class="modal fade bd-example-modal-lg" id="modalDeleteProduct" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Artículo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% comment %} <div id="carouselExampleSlidesOnly" class="carousel slide d-flex" data-ride="carousel">
                    <div class="carousel-inner" id="carousel-image-product">
                    </div>
                </div> {% endcomment %}

                <!-- Probando NUEVA FORMA PARA CREAR EL CARRUSEL, porqué en Boostrap 3 todo es más complicado, gracias Yefri. -->
                <div class="container col-xs-12" style="width:100%;">
                    <h2>Productos</h2>
                    <div id="carouselModalDeleteProduct" class="carousel slide center-block" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators" id="ol-carouselModalDeleteProduct">
                            <li data-target="#carouselModalDeleteProduct" data-slide-to="0" class="active"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" id="carousel-inner-carouselModalDeleteProduct" style="width:70%;">
                            <!-- Slide k-ésimo -->                    
                        </div>
                        <br>

                        {% comment %} <!-- Left and right controls -->
                        <a class="left carousel-control" href="#carouselModalDeleteProduct" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#carouselModalDeleteProduct" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Siguiente</span>
                        </a> {% endcomment %}
                    </div><!-- /.carousel -->
                </div><!-- /.container -->

                <div class="modal-body mx-3" id="modal-text-content-delete-product"></div>
                <div class="modal-footer">
                    <div id="ghost-update-product-modal"></div> <!-- Este div es un secreto. uwu -->
                </div>
            </div>
        </div>
    </div> 

	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% comment %} <script src="{% static 'js/navbar.js' %}" type="text/javascript"></script> {% endcomment %}
	<script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/statistics.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/complaints.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/viewedProduct.js' %}"></script>
    
</body>
</html>
{% endblock %}