<!DOCTYPE html>

{% block content %}
{% load static %}

<html lang="en">

<head>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="MediaCenter, Template, eCommerce">
<meta name="robots" content="all">
<title>Portal Compra - Ventas</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{% static 'css/marazo-css/bootstrap.min.css' %}">

<!-- Customizable CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/marazo-css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/marazo-css/blue.css' %}">
<link rel="stylesheet" href="{% static 'css/marazo-css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/marazo-css/owl.transitions.css' %}">
<link rel="stylesheet" href="{% static 'css/marazo-css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/marazo-css/rateit.css' %}">
<link rel="stylesheet" href="{% static 'css/marazo-css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'css/marazo-css/lightbox.css' %}">

<!-- Icons/Glyphs -->
<link rel="stylesheet" href="{% static 'css/marazo-css/font-awesome.css' %}">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home" >
<nav class="navbar-superior" style= "margin-top: -19px;">
			
				<!--<h2 class="logotipo-h2">Logotipo página</h2>-->
			
			<!--<div class="logotipo">
				<img src="{% static 'img/logo.png' %}" />
				<h2>Nombre página</h2>
			</div>-->
			<ul class="navbar-superior-ul">
        		<li id="registrarse" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/register">Registrate</a>
				</li>
        		<li id="iniciar-sesion" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/login">Iniciar sesión</a>
				</li>
				<li id="cerrar-sesion" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/logout">Cerrar sesión</a>
				</li>
				<li id = "mi-perfil" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/user">Mi Perfil</a>
				</li>
				{% comment %} <li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="#">Contacto</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="#">Sobre nosotros</a>
				</li> {% endcomment %}
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="/categories">Categorias</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="/">Inicio</a>
				</li>
			</ul>
	</nav>

<!-- /.breadcrumb -->

<div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%); width: 100%;height: 90%;">
	<section>
		<div style="height: 45px;"></div>
	</section>
<div style="margin-left: 270px;">
	<div class='container'>
		<div class='row single-product'>

      <!-- ******************************************************* CARRUSEL DE IMÁGNES DEL PRODUCTO *********************************************************************** -->
			<div class='col-xs-12 col-sm-12 col-md-9 rht-col'>
            <div class="detail-block">
			<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 gallery-holder">
		
				<div class="product-item-holder size-big single-product-gallery small-gallery">

						<div id="owl-single-product">

							<div class="single-product-gallery-item" id="slide1">
								<a data-lightbox="image-1" data-title="Galeria" id="imagenProducto1" href="https://danbooru.donmai.us/data/sample/da/f4/__jean_genshin_impact_drawn_by_kai1up__sample-daf449492b42c9a88dd086c3da3fcabb.jpg"> 
								<img class="img-responsive" alt="" id="productImage1" src="{% static 'img/marazo-img/blank.gif' %} " data-echo="" > 
								</a>
							</div>

						</div>

					
						<div class="single-product-gallery-thumbs gallery-thumbs">

							<div id="owl-single-product-thumbnails">

								<div class="item">
									<a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="1" href="#slide1">
										<img class="img-responsive" alt="" src="{% static 'img/marazo-img/blank.gif' %}" data-echo="" />
									</a>
								</div>
								
							</div><!-- /#owl-single-product-thumbnails -->

						</div><!-- /.gallery-thumbs -->
					<!-- </div> -->
				</div><!-- /.single-product-gallery -->
		</div><!-- /.gallery-holder -->


      <!-- ******************************************************* INFORMACIÓN DEL PRODUCTO *********************************************************************** -->

					<div class='col-sm-12 col-md-8 col-lg-8 product-info-block'>
						<div class="product-info">
							<h1 class="name" id= "productName" ></h1>

							<div class="rating-reviews m-t-20">
								<div class="row">
                                <div class="col-lg-12">
									<div class="pull-left">
										<div id="productDetailRating" class="rating rateit-small"></div>
										<span class="pull-right" > &nbsp;&nbsp;Calificación del Vendedor</span>
									</div>
									<div class="pull-left">
										<div class="reviews">
											<!-- <a id="reviewCount" class="lnk"></a> -->
										</div>
									</div>
                                    </div>
								</div><!-- /.row -->
							</div><!-- /.rating-reviews -->

							<div class="stock-container info-container m-t-10">
								<div class="row">
                                <div class="col-lg-12">
                                    </div>
								</div><!-- /.row -->
							</div><!-- /.stock-container -->

							<div id="productDescription" class="description-container m-t-20">
							</div><!-- /.description-container -->

							<div class="price-container info-container m-t-30">
								<div class="row">


									<div class="col-sm-6 col-xs-6">
										<div class="price-box">
											<span id="productPrice" class="price"></span>
											<!-- <span class="price-strike">$900.00</span> -->
										</div>
									</div>

									<div id="addToFavorite" class="col-sm-6 col-xs-6">
						
									</div>

								</div><!-- /.row -->
							</div><!-- /.price-container -->


						</div><!-- /.product-info -->
					</div><!-- /.col-sm-7 -->
				</div><!-- /.row -->
                </div>

				<div id = "contact-review-forms" class="product-tabs inner-bottom-xs">

					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3">

							<ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
								<li class="active"><a data-toggle="tab" href="#description">CONTACTO</a></li>
								<li><a data-toggle="tab" href="#review">DEJA UNA RESEÑA</a></li>
								<!-- <li><a data-toggle="tab" href="#tags">TAGS</a></li> -->
							</ul><!-- /.nav-tabs #product-tabs -->
						</div>


						<div class="col-sm-12 col-md-9 col-lg-9">

							<div class="tab-content">

								<div id="description" class="tab-pane in active">
									<div class="product-tab">
										<!-- <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                    <form id="publisher-description">
                    <label style="font-size: medium;" for="publisher">Publicado por: </label><br> 
                    <a id="url-seller"><input style="width: 100%; cursor:pointer; padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;" type="text" id="publisher" value="Usuario" readonly></a><br>
                    <label style="font-size: medium;" for="publisherEmail"> Correo: </label><br>
                    <input style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;" type="text" id="publisherEmail" value="user@hosting.com" readonly><br>
                    <label style="font-size: medium;" for="publisherPhone"> Teléfono: </label><br>
                    <input style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;" type="text" id="publisherPhone" value="0000-0000" readonly><br><br><br>
                    <label style="font-size: medium;" for="publisherAddress"> Disponible en: </label><br>
                    <input style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;" type="text" id="publisherAddress" value="Departamento, Municipio" readonly><br>
                    </form>
                  </div>
								</div><!-- /.tab-pane -->

								<div id="review" class="tab-pane">
									<div class="product-tab">


										<div class="product-add-review">
											<h4 class="title">Comentario</h4>
											<!-- <div class="review-table">
												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr>
																<th class="cell-label">&nbsp;</th>
																<th>1 estrella</th>
																<th>2 estrellas</th>
																<th>3 estrellas</th>
																<th>4 estrellas</th>
																<th>5 estrellas</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td class="cell-label">Precio</td>
																<td><input type="radio" name="quality" class="radio" value="1"></td>
																<td><input type="radio" name="quality" class="radio" value="2"></td>
																<td><input type="radio" name="quality" class="radio" value="3"></td>
																<td><input type="radio" name="quality" class="radio" value="4"></td>
																<td><input type="radio" name="quality" class="radio" value="5"></td>
															</tr>
															<tr>
																<td class="cell-label">Estado</td>
																<td><input type="radio" name="price" class="radio" value="1"></td>
																<td><input type="radio" name="price" class="radio" value="2"></td>
																<td><input type="radio" name="price" class="radio" value="3"></td>
																<td><input type="radio" name="price" class="radio" value="4"></td>
																<td><input type="radio" name="price" class="radio" value="5"></td>
															</tr>
															<tr>
																<td class="cell-label">Calidad</td>
																<td><input type="radio" name="status" class="radio" value="1"></td>
																<td><input type="radio" name="status" class="radio" value="2"></td>
																<td><input type="radio" name="status" class="radio" value="3"></td>
																<td><input type="radio" name="status" class="radio" value="4"></td>
																<td><input type="radio" name="status" class="radio" value="5"></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div> -->

											<div class="review-form">
												<div class="form-container">
													<form class="cnt-form">

														<div class="row">

															<div class="col-md-6">
																<div class="form-group">
																	<label for="exampleInputReview"> <span class="astk"></span></label>
																	<textarea style="width: 730px;" class="form-control txt txt-review" id="exampleInputReview" rows="4" placeholder="Dinos lo que piensas sobre este producto..."></textarea>
																</div><!-- /.form-group -->
															</div>
														</div><!-- /.row -->

														<div class="action text-right">
															<button type="button" onclick="updateReviews();" class="btn btn-primary btn-upper">Enviar</button>
														</div><!-- /.action -->

													</form><!-- /.cnt-form -->
												</div><!-- /.form-container -->
											</div><!-- /.review-form -->

										</div><!-- /.product-add-review -->

							    </div><!-- /.product-tab -->
								</div><!-- /.tab-pane -->

							</div><!-- /.tab-content -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.product-tabs -->


<!-- Separador -->
<section>
    <div style="height: 30px;"></div>
</section>

				<!-- ============================================== UPSELL PRODUCTS ============================================== -->
<section class="section featured-product" style="width: 97.7%; margin-left: 1.2%;">
<div class="row">

  <!-- ********************************************************************************** -->
	<div class="blog-review wow fadeInUp">
    <div class="col-md-12">
			<h3 class="title-review-comments">Comentarios</h3>
		</div>
	<div class="row" id="commentsRow">
		
    

		<div class="col-md-2 col-sm-2" style="height: 20px;">
			 <!-- <img src="https://gamingonphone.com/wp-content/uploads/2021/03/image-1.jpg" alt="Responsive image" class="img-rounded img-responsive">  -->
		</div>
		 <div class="col-md-10 col-sm-10 blog-comments outer-bottom-xs" style="height: 92px;">
			<div class="blog-comments inner-bottom-xs">
				<h4>&nbsp;</h4>
				<span class="review-action pull-right">
					<div class="rating rateit-small"></div>
					<!-- <a href="#"> Repost</a> &sol;
					<a href="#"> Reply</a> -->
				</span>
				<p>&nbsp; 
        </p>
			</div>
    </div> 

	</div>
</div>

            </div>
</section><!-- /.section -->


<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="{% static 'js/marazo-js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/marazo-js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/marazo-js/bootstrap-hover-dropdown.min.js' %}"></script>
<script src="{% static 'js/marazo-js/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/marazo-js/echo.min.js' %}"></script>
<script src="{% static 'js/marazo-js/jquery.easing-1.3.min.js' %}"></script>
<script src="{% static 'js/marazo-js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/marazo-js/jquery.rateit.min.js' %}"></script>


<script src="{% static 'js/marazo-js/lightbox.min.js' %}"></script>
<script src="{% static 'js/marazo-js/bootstrap-select.min.js' %}"></script>

<script src="{% static 'js/marazo-js/wow.min.js' %}"></script>
<script src="{% static 'js/navbar.js' %}" type="text/javascript"></script>
<script src="{% static 'js/marazo-js/scripts.js' %}"></script>
<script src="{% static 'js/marazo-js/detail.js' %}"></script>
</div>
</body>

</html>
{% endblock %}