<!DOCTYPE html>
{% block content %}
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TraderZone - Página principal</title>

    <!--TraderZone favicon-->
    <link rel="shortcut icon" href="{% static 'img/traderzone/TRADERZONEICONOSCIAN.ico' %}">

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.css' %}"> 

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bondiesStyles.css' %}">

</head>

<body id="page-top">

        <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Page Wrapper -->
    <div>

        <!-- Content Wrapper -->
        <div>

            <!-- Main Content -->
            <div>

                <!-- Topbar -->

            	<nav class="navbar-superior">
            		<ul class="navbar-superior-ul">
                        <a class="navbar-brand d-inline-block" href="#">
                            <img src="{% static 'img/traderzone/TRADERZONElogotipo.png' %}" width="150px" style="margin-top:-3rem;" class="d-inline-block align-top" alt="">
                        </a>
                        <li id="registrarse" class="navbar-superior-ul-li" style="display:none;">
            				<a class="navbar-superior-ul-li-a" href="/register">Registrate</a>
            			</li>
                        <li id="iniciar-sesion" class="navbar-superior-ul-li" style="display:none;">
            				<a class="navbar-superior-ul-li-a" href="/login">Iniciar sesión</a>
            			</li>
            			<li id="cerrar-sesion" class="navbar-superior-ul-li" style="display:none;">
            				<a class="navbar-superior-ul-li-a" href="/logout">Cerrar sesión</a>
            			</li>
            			<li id = "mi-perfil" class="navbar-superior-ul-li" style="display:none;">
            				<a class="navbar-superior-ul-li-a" href="/user">Mi Perfil</a>
            			</li>
            			{% comment %} <li class="navbar-superior-ul-li">
            				<a class="navbar-superior-ul-li-a" href="#">Contacto</a>
            			</li>
            			<li class="navbar-superior-ul-li">
            				<a class="navbar-superior-ul-li-a" href="#">Sobre nosotros</a>
            			</li> {% endcomment %}
            			<li class="navbar-superior-ul-li">
            				<a class="navbar-superior-ul-li-a" href="/categories">Categorías</a>
            			</li>
            			<li class="navbar-superior-ul-li">
            				<a class="navbar-superior-ul-li-a" href="/">Inicio</a>
            			</li>
            		</ul>
            	</nav>
                <!-- End of Topbar -->

                <div class="container" style="padding-top:10rem;">
                        <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3" style="color:#fff;">Bienvenido a TraderZone!</h1>
          <p style="color:#fff;">La mejor página de anuncios de Honduras, donde podrás encontrar o publicar productos o servicios que
          puedas brindar a la comunidad, puedes comenzar a formar parte de nuestra red siguiendo unos sencillos pasos:</p>
        </div>
      </div>

      <div class="container" style="color:rgb(99, 98, 98);">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h1>Registrate</h1>
            <h3>Dando click en el siguiente botón te encontraras con nuestro formulario de registro en el cual con unos pocos datos podrás crear una cuenta en nuestra página con la cual tendrás acceso a comentar y valorar las publicaciones de los usuarios </h3>
            <br>
            <p><a class="btn btn-primary btn-lg" href="register" role="button">Registrarse</a></p>
          </div>
          <div class="col-md-4">
            <h1>Busca</h1>
            <h3>Sin necesidad de inscribirte puedes visitar nuestro catalogo de productos y servicios en el cual verás la información necesaria para contactar al usuario que lo publicó</h3>
            <br>
            <p><a class="btn btn-primary btn-lg" href="categories" role="button">Buscar</a></p>
          </div>
          <div class="col-md-4">
            <h1>Publica</h1>
            <h3>Una vez formes parte de nuestra red podrás anunciar tus propios productos o servicios para que los demás miembros o visitantes de nuestra web puedan ponerse en contacto contigo.</h3>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
                </div>

            </div> <!-- End of Content -->
        </div> <!-- End of Content Wrapper -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span style="font-size:2rem;">Copyright &copy; TraderZone 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div> <!-- End of Wrapper -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}" type="text/javascript"></script>
</body>

</html>
{% endblock %}
