<!DOCTYPE html>
{% block content %}
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.css' %}"> 

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bondiesStyles.css' %}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
        <nav class="navbar-superior">
			
				<!--<h2 class="logotipo-h2">Logotipo página</h2>-->
			
			<!--<div class="logotipo">
				<img src="{% static 'img/logo.png' %}" />
				<h2>Nombre página</h2>
			</div>-->
			<ul class="navbar-superior-ul">
         		<li id="registrarse" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/register">Registrate</a>
				</li>
        		<li id="iniciar-sesion" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/login">Iniciar sesión</a>
				</li>
				<li id="cerrar-sesion" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/logout">Cerrar sesión</a>
				</li>
				<li id = "mi-perfil" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/user">Mi Perfil</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="#">Contacto</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="#">Sobre nosotros</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="/categories">Categorias</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="/">Inicio</a>
				</li>
			</ul>
	</nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Vendedor</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-xl-6 col-md-6 mb-4">
                                <div class="card shadow h-100 py-2">
                                    <div class="card-body">
                                        <form class="user" id="UpdateForm" name="UpdateForm" data-toggle="validator" data-focus="false">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" id="Ufirstname" placeholder="First Name" disabled="disabled">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control form-control-user" id="Ulastname" placeholder="Last Name" disabled="disabled">
                                                </div>
                                            <div class="help-block with-errors">
                                            </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user" id="Uemail" placeholder="Email" disabled="disabled">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user" id="Uphone" placeholder="Phone Number" disabled="disabled">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user" id="Uaddress" placeholder="Address" disabled="disabled">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user" id="Udepartment" placeholder="Department" disabled="disabled">
                                            </div>
                                            <a data-toggle="modal" id="btnCalificationSeller" data-target="#calificacionmodal" href="#calificacionmodal" class="btn btn-primary btn-user btn-block">Calificar al vendedor
                                            </a>
                                        </form>
                                    </div>
                                </div>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2">
                                
                                <div class="card-body">
                                    <div class="text-center" id="published-product">
                                        <h1 class="h4 text-gray-900 mb-4">Productos</h1>
                                    </div>
                                </div>
                                <a href="#" class="text-center" id="see-more">Ver mas</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <section class="section featured-product" style="width: 97.7%; margin-left: 1.2%;">
                                        <div class="row">
                                          <!-- ********************************************************************************** -->
                                            <div class="blog-review wow fadeInUp">
                                                <div class="col-md-12">
                                                    <h3 class="title-review-comments">Reseñas</h3>
                                                </div>
                                                <div class="row" id="commentsRow">
                                                    <div class="col-md-2 col-sm-2" style="height: 20px;">
                                                         <!-- <img src="https://gamingonphone.com/wp-content/uploads/2021/03/image-1.jpg" alt="Responsive image" class="img-rounded img-responsive">  -->
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 blog-comments outer-bottom-xs" style="height: 92px;">
                                                        <div class="blog-comments inner-bottom-xs">
                                                            <h4>&nbsp;</h4>
                                                            <span class="review-action pull-right">
                                                                <div class="rating rateit-small"></div>
                                                            </span>
                                                            <p>&nbsp;</p>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </section><!-- /.section -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Portal Compra Ventas 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Modal -->
        <div class="modal fade" id="calificacionmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Calificacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="star-rating">
                    <div class="star-input">
                        <input type="radio" name="rating" id="rating-5" value="5">
                        <label for="rating-5" class="fas fa-star"></label>
                        <input type="radio" name="rating" id="rating-4" value="4">
                        <label for="rating-4" class="fas fa-star"></label>
                        <input type="radio" name="rating" id="rating-3" value="3">
                        <label for="rating-3" class="fas fa-star"></label>
                        <input type="radio" name="rating" id="rating-2" value="2">
                        <label for="rating-2" class="fas fa-star"></label>
                        <input type="radio" name="rating" id="rating-1" value="1">
                        <label for="rating-1" class="fas fa-star"></label>
                        <!-- Rating Submit Form -->
                        <form class="user" id="rateForm" name="ProductForm" data-toggle="validator" data-focus="false">
                            <span class="rating-reaction"></span>
                            <br>
                            <div class="form-group">
                                <textarea class="form-control" id="Ratecomment" rows="3" placeholder="Descripcion" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Calificar</button>
                            <div class="form-message">
                                <div id="ratemsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/seller.js' %}"></script>


</body>

</html>
{% endblock %}