<!DOCTYPE html>
{% block content %}
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TraderZone - Productos del Vendedor</title>

    <!--TraderZone favicon-->
    <link rel="shortcut icon" href="{% static 'img/traderzone/TRADERZONEICONOSCIAN.ico' %}">

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.css' %}"> 

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bondiesStyles.css' %}">

</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
        <nav class="navbar-superior">
			
				<!--<h2 class="logotipo-h2">Logotipo página</h2>-->
			
			<!--<div class="logotipo">
				<img src="{% static 'img/logo.png' %}" />
				<h2>Nombre página</h2>
			</div>-->
			<ul class="navbar-superior-ul">
                <a class="navbar-brand d-inline-block" href="#">
                    <img src="{% static 'img/traderzone/TRADERZONElogotipo.png' %}" width="150px" style="margin-top: -23%; margin-left: 10.6%;" class="d-inline-block align-top" alt="">
                </a>
         		<li id="registrarse" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/register">Registrate</a>
				</li>
        		<li id="iniciar-sesion" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/login">Iniciar sesión</a>
				</li>
				<li id="cerrar-sesion" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/logout">Cerrar sesión</a>
				</li>
				<li id = "mi-perfil" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/user">Mi Perfil</a>
				</li>
				{% comment %} <li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="#">Contacto</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="#">Sobre nosotros</a>
				</li> {% endcomment %}
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="/categories">Categorías</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="/">Inicio</a>
				</li>
			</ul>
	</nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top:5%;">
                        <h1 class="h3 mb-0 text-gray-800" id="name-publisher"></h1>
                    </div>

                    
                    <!-- GRID --> 
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <!-- AQUI DEBEN IR LOS PRODUCTOS -->
                                    <div class="container-fluid" id="published-product">
                                    </div>  
                                </div> <!-- AQUI TERMINA -->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; TraderZone 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Modal -->
        <!-- Button trigger modal -->
        {% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>  {% endcomment %}
    
       <!-- Modal Eliminar producto -->
    <div class="modal fade" id="modalDeleteProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header alert alert-danger" role="alert">
                <h5 class="modal-title">Advertencia</h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-text-content">

            
            </div>
            <div class="modal-footer">
                <div id="ghost-product-modal"></div> <!-- Este div es un secreto. uwu -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn btn-danger" onclick="deleteProduct(this)">Aceptar</button>
            </div>
            </div>
        </div>
    </div> 

   <!-- Modal Modificar producto -->
    <div class="modal fade bd-example-modal-lg" id="modalUpdateProduct" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Artículo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="carouselExampleSlidesOnly" class="carousel slide d-flex" data-ride="carousel">
                    <div class="carousel-inner" id="carousel-image-product">
                    </div>
                </div>

                <div class="modal-body mx-3" id="modal-text-content-update-product"></div>
                <div class="modal-footer">
                    <div id="ghost-update-product-modal"></div> <!-- Este div es un secreto. uwu -->
                </div>
            </div>
        </div>
    </div> 

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/seller-product.js' %}"></script>
    <script src="{% static 'js/sessions.js' %}"></script>


</body>

</html>
{% endblock %}