<!DOCTYPE html>
{% block content %}
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.css' %}"> 

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bondiesStyles.css' %}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Nombre de la Empresa<sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Usuario</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading 
            <div class="sidebar-heading">
                Interfaz
            </div> -->

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Mis productos</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" onclick="logout();">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Cerrar Sesion</span></a>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
        <nav class="navbar-superior">
			
				<!--<h2 class="logotipo-h2">Logotipo página</h2>-->
			
			<!--<div class="logotipo">
				<img src="{% static 'img/logo.png' %}" />
				<h2>Nombre página</h2>
			</div>-->
			<ul class="navbar-superior-ul">
                <li id="registrarse" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/register">Registrate</a>
				</li>
                <li id="iniciar-sesion" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/login">Iniciar sesión</a>
				</li>
				<li id="cerrar-sesion" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/logout">Cerrar sesión</a>
				</li>
				<li id = "mi-perfil" class="navbar-superior-ul-li" style="display:none;">
					<a class="navbar-superior-ul-li-a" href="/user">Mi Perfil</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="#">Contacto</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="#">Sobre nosotros</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="/categories">Categorias</a>
				</li>
				<li class="navbar-superior-ul-li">
					<a class="navbar-superior-ul-li-a" href="/">Inicio</a>
				</li>
			</ul>
	</nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Mi Perfil</h1>
                            <a data-toggle="modal" data-target="#logoutModal" href="#logoutModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Agregar Nuevo Producto
                        </a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4" style="padding-top:2rem;">Mis Datos</h1>
                                </div>
                                <div class="card-body">
                                    <form class="user" id="UpdateForm" name="UpdateForm" data-toggle="validator" data-focus="false">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="custom-label">Primer Nombre</label>
                                                <input type="text" class="form-control form-control-user" id="Ufirstname"
                                                    placeholder="First Name">
                                                    <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="custom-label">Apellido</label>
                                                <input type="text" class="form-control form-control-user" id="Ulastname"
                                                    placeholder="Last Name">
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-label">Contraseña</label>
                                            <input type="password" class="form-control form-control-user" id="Upassword"
                                                placeholder="Password">
                                                <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-label">Teléfono</label>
                                            <input type="text" class="form-control form-control-user" id="Uphone"
                                                placeholder="Phone Number">
                                                <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-label">Dirección</label>
                                            <input type="text" class="form-control form-control-user" id="Uaddress"
                                                placeholder="Address">
                                                <div class="help-block with-errors"></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Actualizar Datos</button>
                                        <div class="form-message">
                                            <div id="umsgSubmit" class="h3 text-center hidden"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2">
                                
                                <div class="card-body">
                                    <div class="text-center" id="published-product">
                                        <h1 class="h4 text-gray-900 mb-4">Productos</h1>
                                        
                                        <!-- 

                                        <div class="card">
                                            <div class="card-header">
                                                Estufa de gas
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <img class="card-img-top" src="{% static 'img/undraw_posting_photo.svg' %}" style="padding-top:2rem;">
                                                    </div>
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <ul>
                                                            <li>Categoria</li>
                                                            <li>Departamento</li>
                                                            <li>Municipio</li>
                                                            <li>Precio</li>
                                                        </ul>
                                                        <button type="submit" class="btn btn-primary btn-user btn-block">Ver Mas</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="card">
                                            <div class="card-header">
                                                Estufa de gas
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <img class="card-img-top" src="{% static 'img/undraw_posting_photo.svg' %}" style="padding-top:2rem;">
                                                    </div>
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <ul>
                                                            <li>Categoria</li>
                                                            <li>Departamento</li>
                                                            <li>Municipio</li>
                                                            <li>Precio</li>
                                                        </ul>
                                                        <button type="submit" class="btn btn-primary btn-user btn-block">Ver Mas</button>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    -->

                                    </div>
                                </div>
                                <!-- <a href="#" id="see-more" class="text-center">Ver mas</a> -->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Portal Compra Ventas 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Modal -->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ingresar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="user" id="ProductForm" name="ProductForm" data-toggle="validator" data-focus="false" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="Pname"
                            placeholder="Nombre" required>
                            <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="Pprice"
                            placeholder="Precio" required>
                            <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="Pdescription" rows="3" placeholder="Descripcion" required></textarea>
                    </div>
                    <div class="form-group">
                        <select id="Pstate" onchange="mostrarMunicipios();" class="form-control form-control-select dropdown-toggle" required>
                            <option value="00" selected>Departamento</option>
                          <option value="1"> Atlantida</option>
                          <option value="2">Choluteca</option>
                          <option value="3">Colón</option>
                          <option value="4">Comayagua</option>
                          <option value="5">Copán</option>
                          <option value="6">Cortés</option>
                          <option value="7">El Paraíso</option>
                          <option value="8">Francisco Morazán</option>
                          <option value="9">Gracias a Dios</option>
                          <option value="10">Intibucá</option>
                          <option value="11">Islas de la Bahía</option>
                          <option value="12">La Paz</option>
                          <option value="13">Lempira</option>
                          <option value="14">Ocotopeque</option>
                          <option value="15">Olancho</option>
                          <option value="16">Santa Bárbara</option>
                          <option value="17">Valle</option>
                          <option value="18">Yoro</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <select style="display: none;" id="Pmunicipio" class="form-control form-control-select dropdown-toggle">
                          <option value="00" selected> Municipio</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="Pcantidad"
                            placeholder="Cantidad Disponible" required>
                            <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <select id="Pcategoria" class="form-control form-control-select dropdown-toggle" required>
                            <option value="00" selected>Categoria</option>
                          <option value="2"> Vehiculos</option>
                          <option value="3">Hogar</option>
                          <option value="4">Moda</option>
                          <option value="5">Futuros Padres</option>
                          <option value="6">Mascotas</option>
                          <option value="7">Electrónica</option>
                          <option value="8">Servicios</option>
                          <option value="9">Negocios</option>
                          <option value="10">Empleo</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                         <div class="custom-file">
                            <input type="file" name="loadFileImage" multiple class="custom-file-input form-control" id="customFile" > 
                            <label class="custom-file-label" for="customFile">Elija uno o varios archivos</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Guardar Producto</button>
                    <div class="form-message">
                        <div id="PmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/validator.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/user.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/navbar.js' %}" type="text/javascript"></script>
</body>

</html>
{% endblock %}