.navButton {
	margin-top: 1em;
}

.error {
	color: red;
	font-size: 1rem;
	position: relative;
	line-height: 1;
	width: 100%;
}

.form-control-select {
	font-size: .8rem;
    border-radius: 10rem;
    height: 3rem;
}
